/* Variables */
:root {
  /* image sizing */
  --size-sm: 25%;
  --size-med: 50%;
  --size-lrg: 75%;
  --size-full: 100%;
  --size-xl: 150%;

  /* colors */
  --eggplant: #805987;
  --powder: #e6f7ff;
  --stone: #4d4f43;
  --white: white;
}

/* Elements */
body {
  background-image: url("./../img/geoBackground10.png");
  color: var(--stone);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 200%;
  color: var(--eggplant);
}

h2 {
  font-size: 150%;
}

p {
  font-size: 115%;
  font-weight: 540;
  padding: 0.5rem;
}

/* Classes (from top to bottom)*/

/* SAW logo */
.logo {
  background-color: var(--eggplant);
  border: 2px solid var(--eggplant);
  border-radius: 5px;
  font-size: 150%;
  padding: 1rem;
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.logo a {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

.logo:hover {
  box-shadow: 0px 0px 15px var(--eggplant);
}

/* Navigation */
.navBar {
  align-items: center;
  color: var(--stone);
  flex-direction: row;
  justify-content: flex-end;

  padding: 1rem;
}

.navBar a {
  color: var(--stone);
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
}

.navBar a:link:hover {
  color: var(--eggplant);
  text-shadow: 0px 0px 20px var(--eggplant);
}

.navBar ul {
  border-bottom: 5px double var(--eggplant);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  min-width: 25rem;
  padding: 1rem;
}

/* Page introduction and banner image */
.heroImg {
  padding: 1.5rem;
  width: var(--size-full);
}

.pageIntro {
  padding: 1.5rem;
  text-align: center;
}

.pageIntro h1 {
  padding-bottom: 1rem;
}

.pageIntro p {
  font-size: 1.3rem;
}

/* Skills boxes and content */
.detailBoxes {
  background-color: var(--powder);
  border-radius: 15px;
  display: relative;
  margin: 1.5rem;
  padding: 1.5rem;
}

.mySkills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: center;
}

.mySkills img {
  width: var(--size-lrg);
  padding: 1.5rem;
}

.mySkills a:hover {
  filter: drop-shadow(0px 0px 20px var(--eggplant));
}

.nProj {
  background-color: var(--powder);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  padding-top: 2rem;
  text-align: center;
}

.nProj img {
  width: var(--size-lrg);
  padding: 1.5rem;
}

.nProj a:hover {
  filter: drop-shadow(0px 0px 20px var(--eggplant));
}

.nProjCap {
  background-color: var(--eggplant);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--white);
  font-style: italic;
  font-weight: 550;
  font-size: 120%;
  padding: 1rem;
  margin: 0;
  width: 100%;
  z-index: 50;
}

/* Footer */
.fancyFooter {
  background-color: var(--eggplant);
  color: var(--white);
  font-size: 150%;
  padding: 1rem;
  text-align: center;
}

.fancyFooter a {
  color: var(--white);
  font-size: 125%;
  font-weight: 700;
  padding: 1.5rem;
  text-decoration: none;
}

.fancyFooter a:link:hover {
  text-shadow: 0px 0px 20px var(--powder);
}

.fancyFooter p {
  font-size: 1rem;
}

/* media queries */
@media (max-width: 992pm) {
  .fancyFooter a:link:focus {
    text-shadow: 0px 0px 20px var(--powder);
  }

  .mySkills a:focus {
    filter: drop-shadow(0px 0px 20px var(--eggplant));
  }

  .navBar a:link:focus {
    color: var(--eggplant);
    text-shadow: 0px 0px 20px var(--eggplant);
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    width: 100%;
  }

  .heroImg {
    padding-top: 0.5;
    margin: 0;
  }

  .navBar {
    margin-top: 4rem;
    padding: 0;
  }

  .navBar ul {
    min-width: 22rem;
    flex-direction: column;
  }

  .pageIntro h1 {
    font-size: 130%;
  }

  .mySkills {
    flex-direction: column;
    width: 100%;
  }
}
