/* Variables */
:root {
  /* image sizing */
  --size-tny: 25%;
  --size-sm: 38%;
  --size-med: 50%;
  --size-lrg: 75%;
  --size-full: 100%;
  --size-xl: 150%;

  /* colors */
  --eggplant: #2a204d;
  --midnight: #0f023c;
  --pink: #e980fc;
  --white: #ffffff;
}

/* Elements */
html {
  background-color: var(--midnight);
}

body {
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  line-height: 3vh;
}

header {
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 250%;
  color: var(--white);
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p,
ul {
  font-size: 115%;
  font-weight: 540;
  padding: 0.5rem;
}

/* individual attributes */
.bdr-pink {
  border: 3px solid #e980fc;
}

.bdr-white {
  border: 3px solid #ffffff;
}

.br-15 {
  border-radius: 15px;
}

.bgc-trans {
  background-color: transparent;
}

.bgc-eggplant {
  background-color: var(--eggplant);
}

.bgc-midnight {
  background-color: var(--midnight);
}

.bgc-pink {
  background-color: var(--pink);
}

.c-eggplant {
  color: var(--eggplant);
}

.c-pink {
  color: var(--pink);
}

.c-white {
  color: var(--white);
}

.h-100vh {
  height: 100vh;
}

.pos-rel {
  position: relative;
}

.w-full {
  width: var(--size-full);
}

.w-tny {
  width: var(--size-tny);
}

.w-med {
  width: var(--size-med);
}

.w-lrg {
  width: var(--size-lrg);
}

.w-sm {
  width: var(--size-sm);
}

.w-xlrg {
  width: var(--size-xl);
}

/* Classes (from top to bottom)*/

a.hvr-pink:hover {
  background-color: transparent;
  color: var(--pink);
  text-shadow: 0px 0px 20px var(--pink);
}

a.shdw-pink:hover {
  background-color: transparent;
  filter: drop-shadow(0px 0px 20px var(--pink));
}

.accentLine {
  border: none;
  border-top: 4px double var(--pink);
  background-color: var(--midnight);
}

.overlay {
  background-color: var(--pink);
  color: var(--midnight);
  font-size: 20px;
  line-height: 3vh;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s ease;
}

.over-cont:hover .overlay {
  opacity: 0.9;
}

/* Footer */
.fancyFooter {
  background-color: transparent;
  border-style: solid;
  border-color: var(--eggplant);
  border-width: 4px 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* media queries */
/* tablet */
@media (max-width: 780px) {
  .mq780-w-full {
    width: var(--size-full);
  }

  .mq780-w-med {
    width: var(--size-med);
  }

  .mq780-w-sm {
    width: var(--size-sm);
  }
}

/* phone */
@media (max-width: 480px) {
  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 170%;
  }

  h3 {
    font-size: 140%;
  }

  header {
    flex-direction: column;
    width: 100%;
  }

  p {
    font-size: 100%;
  }

  .mq480-w-full {
    width: var(--size-full);
  }

  .mq480-w-med {
    width: var(--size-med);
  }
}
