/* Variables */
:root {
  /* sizing */
  --size-sm: 25%;
  --size-med: 50%;
  --size-lrg: 75%;
  --size-full: 100%;
  --size-xl: 150%;

  /* colors */
  --eggplant: #805987;
  --powder: #e6f7ff;
  --stone: #4d4f43;
  --white: white;
}

/* Elements */
body {
  background-image: url("/Users/purrzerker/code/sawilliams.portfolio/assets/img/geoBackground10.png");
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

footer {
  background-color: var(--eggplant);
  color: var(--white);
  font-size: 150%;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

nav a {
  color: var(--stone);
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

/* Classes */
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.aboutBox {
  background-color: var(--powder);
  border-radius: 15px;
  margin: 1rem 1rem 3rem 3rem;
  padding: 1.5rem;
}

.boxes {
  background-color: var(--powder);
  border-radius: 15px;
  margin: 1.5rem;
  padding: 1.5rem;
}

.heroImg {
  width: var(--size-full);
  padding: 1.5rem;
}

.logo {
  background-color: var(--eggplant);
  border: 2px solid var(--eggplant);
  border-radius: 5px;
  font-size: 150%;
  padding: 1rem;
}

.logo a {
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

.myRep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: center;
}

.navBar {
  align-items: center;
  border-bottom: 5px double var(--eggplant);
  border-left: 5px double var(--eggplant);
  border-right: none;
  border-top: none;
  border-radius: 5px;
  color: var(--stone);
  padding: 1rem;
}

.navBar a:link:hover {
  color: var(--eggplant);
  text-shadow: 0px 0px 15px var(--eggplant), 0px 0px 10px var(--powder);
}

.myRep img {
  width: var(--size-lrg);
  padding: 1.5rem;
}

.pageIntro {
  text-align: center;
  padding: 1.5rem;
}

/* media queries */
